* text=auto eol=lf
*.go text diff=golang eol=lf

go.mod text eol=lf
go.sum text eol=lf

*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.env text eol=lf

Makefile text eol=lf
Dockerfile text eol=lf

*.md text eol=lf diff=markdown
*.txt text eol=lf

*.sh text eol=lf
*.bash text eol=lf
